@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204.9 75.31% 90.43%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 202.8 47.17% 79.22%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 204.55 71.72% 80.51%;
    --input: 204.55 71.72% 80.51%;
    --ring: 204.55 52.05% 45.57%;

    --radius: 0.5rem;

    /* custom */
    --gradient-from: 203.08 47.4% 79.04%;
    --gradient-mid: 203.08 64.61% 86.65%;
    --gradient-to: 203.08 47.4% 79.04%;
    --spinner-bg: #0f172a;
    --spinner-flash-bg-start: #0002;
    --talent-inactive: #474747;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 222 95% 93%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217.24 32.58% 17.45%;

    /* custom */
    --gradient-from: 205 46% 10%;
    --gradient-mid: 191 28% 23%;
    --gradient-to: 207 41% 27%;
    --spinner-bg: #fff;
    --spinner-flash-bg-start: #FFF2;
    --talent-inactive: #474747;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .gradient-bg {
    background-image: linear-gradient(
      to right,
      hsl(var(--gradient-from)),
      hsl(var(--gradient-mid)),
      hsl(var(--gradient-to))
    );
  }
}
